section.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__rodape{
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}