/*Sessão Menu*/

section.menu{
    width: 100%;
    max-width: var(--largura-maxima-desktop);
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    padding: 32px 0px;
}

.menu__header{
    display: flex;
    align-items: center;
    height: 24px;
    gap: 8px;
}

.menu__list{
    display: flex;
    gap: 32px;
    align-items: center;
}

.menu__list__item{
    position: relative;
}

.menu__list__item::after{
    content: '';
    position: absolute;
    width: 100%;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background: var(--cor-textos);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu__list__item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu__list__item__contato{
    font-weight: 700;
}


/* Tablet e monitores menores*/
@media (max-width: 1168px) {
    
    .menu__list__item{
        display: none;
    }

    section.menu{
        padding: 16px 32px;
        width: auto;
    }

}

@media (max-width: 560px){

    section.menu{
        padding: 8px 16px;
    }

}

@media (max-width: 300px){
    
    section.menu{
        flex-direction: column;
        justify-content: center;
    }

    .menu__list{
        padding: 0;
    }

}


