.modal{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 11;
}

.modal__conteudo {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    max-width: 340px;
    padding: 16px;
    background-color: var(--cor-de-fundo);
}

.modal__botao{
    background-color:var(--cor-botoes);
    padding: 16px;
    color: white;
    width: 30%;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    min-width: 170px;
}

